/ReimbursementApi/.vs/*
/ReimbursementApi/bin/*
/ReimbursementApi/obj/*
/ReimbursementApiTest/bin/*
/ReimbursementApiTest/obj/*
/reimbursement-app/.angular/*
/reimbursement-app/.vscode/*
/reimbursement-app/node_modules/*
